@model Appology.Website.Areas.MiFinance.ViewModels.CategoriesVM
@{
    ViewBag.Title = "Categories";
}
<style>
    i {
        margin-right: 5px;
    }

</style>
<div id="root" class="content-shadow">
    <div class="content-inner dark-bg">
        <h4>
            <span class="fas fa-wallet"> Spending Categories</span>
        </h4>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th width="65%" scope="col">
                        Name
                    </th>
                    <th scope="col">
                        Super Category
                    </th>
                    <th scope="col">
                        Monzo Tag
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cat in Model.SpendingCategories)
                {
                    var hasSecondCategories = Model.SpendingSecondCategories.Any(x => x.Key == cat.SecondTypeId) ? "tags" : "tag";

                    <tr>
                        <td>
                            <i class='fas fa-@(cat.Disabled ? "remove" : hasSecondCategories)'></i>
                            @cat.Name <span class="badge badge-primary">@cat.Id</span>
                        </td>
                        <td>
                            <i class='fas fa-@(!string.IsNullOrEmpty(cat.SuperCategory) ? "star" : "")'></i> @(string.IsNullOrEmpty(cat.SuperCategory) ? "-" : cat.SuperCategory)
                        </td>
                        <td>
                            <i class='fas fa-@hasSecondCategories'></i>
                            @(string.IsNullOrEmpty(cat.MonzoTag) ? "-" : cat.MonzoTag)
                        </td>
                    </tr>
                    foreach (var secondCat in Model.SpendingSecondCategories.Where(x => x.Key == cat.SecondTypeId).SelectMany(x => x.Value))
                    {
                        <tr>
                            <td style="text-indent: 1em;">
                                <i class='fas fa-@(secondCat.Disabled ? "remove" : "tag")'></i>
                                @secondCat.Name <span class="badge badge-info">@secondCat.Id</span>
                            </td>
                            <td>
                                <i class='fas fa-@(!string.IsNullOrEmpty(secondCat.SuperCategory) ? "star" : "")'></i> @(string.IsNullOrEmpty(secondCat.SuperCategory) ? "-" : secondCat.SuperCategory)
                            </td>
                            <td style="text-indent: 1em;">
                                <i class='fas fa-tag'></i>
                                @(string.IsNullOrEmpty(secondCat.MonzoTag) ? "-" : secondCat.MonzoTag)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <h4>
            <span class="fas fa-wallet"> Income Categories</span>
        </h4>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th width="75%" scope="col">
                        Name
                    </th>
                    <th scope="col">
                        Monzo Tag
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cat in Model.IncomeCategories)
                {
                    var hasSecondCategories = Model.IncomeSecondCategories.Any(x => x.Key == cat.SecondTypeId) ? "tags" : "tag";

                    <tr>
                        <td>
                            <i class='fas fa-@(cat.Disabled ? "remove" : hasSecondCategories)'></i>
                            @cat.Name <span class="badge badge-primary">@cat.Id</span>
                        </td>
                        <td>
                            <i class='fas fa-@hasSecondCategories'></i>
                            @(string.IsNullOrEmpty(cat.MonzoTag) ? "-" : cat.MonzoTag)
                        </td>
                    </tr>
                    foreach (var secondCat in Model.IncomeSecondCategories.Where(x => x.Key == cat.SecondTypeId).SelectMany(x => x.Value))
                    {
                        <tr>
                            <td style="text-indent: 1em;">
                                <i class='fas fa-@(secondCat.Disabled ? "remove" : "tag")'></i>
                                @secondCat.Name <span class="badge badge-info">@secondCat.Id</span>
                            </td>
                            <td style="text-indent: 1em;">
                                <i class='fas fa-tag'></i>
                                @(string.IsNullOrEmpty(secondCat.MonzoTag) ? "-" : secondCat.MonzoTag)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>