@using MyCalendar.Helpers
@using System.Configuration
@using MyCalendar.Website.ViewModels
@using MyCalendar.Enums
@{
    var Model = ViewData[nameof(BaseVM)] as BaseVM;
    var AppName = ConfigurationManager.AppSettings["AppName"];
    var version = ConfigurationManager.AppSettings["AppVersion"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@AppName</title>
    <link href="~/Content/Site.css?v=@version" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Loader.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/menu/navik.min.css" rel="stylesheet" type="text/css">
    <!-- forms -->
    <link rel="stylesheet" type="text/css" href="~/Content/form/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/form/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/Content/form/fonts/iconic/css/material-design-iconic-font.min.css">
    <script src="https://kit.fontawesome.com/b963a5daf8.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

</head>
<body>
    <div class="navik-header header-shadow header-dark">
        <div class="container">
            <div class="navik-header-container">
                <div class="logo" data-mobile-logo="@Url.Content("~/Content/img/logo.png")" data-sticky-logo="@Url.Content("~/Content/img/logo.png")">
                    <a href="@Url.Action(Url.MvcRoute(Section.Home).ActionName, Url.MvcRoute(Section.Home).ControllerName)">
                        <img style="width:230px; height: 30px" src="~/Content/img/logo.png" alt="logo" />
                    </a>
                </div>
                <div class="burger-menu">
                    <div class="line-menu line-half first-line"></div>
                    <div class="line-menu"></div>
                    <div class="line-menu line-half last-line"></div>
                </div>
                <nav class="navik-menu separate-line submenu-top-border submenu-scale">
                    <ul>
                        @if (Model != null && Model.User != null)
                        {
                            if (Model.AccessibleFeatures.Any(x => x.Id == Features.Calendar))
                            {
                                <li class="@(Model.MenuItem.Home || Model.MenuItem.MultiAdd || Model.MenuItem.Overview || Model.MenuItem.Cronofy ? "current-menu" : "")">
                                    <a href="#">Calendar</a>
                                    <ul>
                                        <li>
                                            <a style="@(Model.MenuItem.Home ? "color:#09c" : "")" href="@Url.Action(Url.MvcRoute(Section.Home).ActionName, Url.MvcRoute(Section.Home).ControllerName)">
                                                <i class="fas fa-calendar">
                                                </i> Calendar
                                            </a>
                                        </li>
                                        <li>
                                            <a style="@(Model.MenuItem.MultiAdd ? "color:#09c" : "")" href="@Url.Action(Url.MvcRoute(Section.Scheduler).ActionName, Url.MvcRoute(Section.Scheduler).ControllerName)">
                                                <i class="fas fa-calendar-check"></i> Scheduler
                                            </a>
                                        </li>
                                        <li>
                                            <a style="@(Model.MenuItem.Overview ? "color:#09c" : "")" href="@Url.Action(Url.MvcRoute(Section.Overview).ActionName, Url.MvcRoute(Section.Overview).ControllerName)">
                                                <i class="fas fa-chart-bar"></i> Activity Hub
                                            </a>
                                        </li>
                                        @if (Model.User.CronofyReady != MyCalendar.Enums.CronofyStatus.Disabled)
                                        {
                                            <li>
                                                <a style="@(Model.MenuItem.Cronofy ? "color:#09c" : "")" href="@Url.Action(Url.MvcRoute(Section.CronofyProfiles).ActionName, Url.MvcRoute(Section.CronofyProfiles).ControllerName)">
                                                    <i class="fas fa-link"></i> Calendar Sync
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                            if (Model.AccessibleFeatures.Any(x => x.Id == Features.Write))
                            {
                                <li class="@(Model.MenuItem.Documents ? "current-menu" : "")">
                                    <a href="@Url.Action(Url.MvcRoute(Section.Document).ActionName, Url.MvcRoute(Section.Document).ControllerName)">
                                        Write
                                    </a>
                                </li>
                            }
                            if (Model.AccessibleFeatures.Any(x => x.Id == Features.ErrandRunner))
                            {
                                <li class="@(Model.MenuItem.ERNewOrder ? "current-menu" : "")">
                                    <a href="#">Errand Runner</a>
                                    <ul>
                                        <li>
                                            <a style="@(Model.MenuItem.ERNewOrder ? "color:#09c" : "")" href="@Url.Action(Url.MvcRoute(Section.ErrandRunnerNewOrder).ActionName, Url.MvcRoute(Section.ErrandRunnerNewOrder).ControllerName)">
                                                <i class="fas fa-user-edit"></i> New Customer/Order
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }

                            <li class="submenu-right @(Model.MenuItem.Settings ? "current-menu" : "")">
                                <a href="#">@Model.User.Name</a>
                                <ul>
                                    <li>
                                        <a style="@(Model.MenuItem.Settings ? "color:#09c" : "")" href="@Url.Action(Url.MvcRoute(Section.Profile).ActionName, Url.MvcRoute(Section.Profile).ControllerName)">
                                            <i class="fas fa-user-edit"></i> Settings
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action(Url.MvcRoute(Section.Logout).ActionName, Url.MvcRoute(Section.Logout).ControllerName)">
                                            <i class="fas fa-sign-out-alt"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="submenu-right">
                                <a href="@Url.Action(Url.MvcRoute(Section.Login).ActionName, Url.MvcRoute(Section.Login).ControllerName)">
                                    <span class="fas fa-sign-in-alt"></span>  Login / Register
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br />
        @RenderBody()
        <hr />
        <footer>
            <small>&copy; @DateTime.Now.Year - @AppName <a href="/home/changelog" class="float-right">v@(version) BETA</a></small>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/navik.menu.js"></script> 
    @RenderSection("Scripts", false)
</body>
</html>