@model MyCalendar.Website.ViewModels.BaseVM
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iCalendar App®</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("iCalendar App®", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    @if (Model != null && Model.User != null)
                    {
                        <li>
                            <a style="@((Model.MenuItem.Viewing.HasValue && Model.User.UserID == Model.MenuItem.Viewing.Value) || (Model.MenuItem.Home == true) ? "color:#0094ff": "")" href="@Url.Action("Index", "Home", new { viewingId = Model.User.UserID })">
                                <span class="glyphicon glyphicon-home"></span> @Model.User.Name
                            </a>
                        </li>
                        if (Model.Users != null && Model.Users.Any())
                        {
                            foreach (var user in Model.Users)
                            {
                                <li>
                                    <a style="@(Model.MenuItem.Viewing.HasValue && user.UserID == Model.MenuItem.Viewing.Value ? "color:#0094ff" : "")" href="@Url.Action("Index", "Home", new { viewingId = user.UserID })">
                                        <span class="glyphicon glyphicon-calendar"></span> @user.Name
                                    </a>
                                </li>
                            }
                        }
                        <li>
                            <a style="@(Model.MenuItem.Combined ? "color:#0094ff": "")" href="@Url.Action("Index", "Home", new { combined = true })">
                                <span class="glyphicon glyphicon-calendar"></span> Combined
                            </a>
                        </li>
                        <li>
                            <a style="@(Model.MenuItem.Overview ? "color:#0094ff": "")" href="@Url.Action("Index", "Home")">
                                <span class="glyphicon glyphicon-check"></span> Overview
                            </a>
                        </li>
                        <li>
                            <a style="@(Model.MenuItem.MultiAdd ? "color:#0094ff": "")" href="@Url.Action("MultiAdd", "Home")">
                                <span class="glyphicon glyphicon-edit"></span> Scheduler
                            </a>
                        </li>
                        <li>
                            <a style="@(Model.MenuItem.Settings ? "color:#0094ff": "")" href="@Url.Action("Settings", "Home")">
                                <span class="glyphicon glyphicon-user"></span> Profile
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Logout", "Home")">
                                <span class="glyphicon glyphicon-log-out"></span> Logout
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("Index", "Home")">
                                <span class="glyphicon glyphicon-log-in"></span> Login
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <br />
        @RenderBody()
        <hr />
        <footer>
            <small>&copy; @DateTime.Now.Year - iCalendar App® <span class="pull-right">v1.1.4</span></small>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>