@using MyCalendar.Helpers
@using MyCalendar.Enums
@model MyCalendar.Website.ViewModels.CalendarVM
@using MyCalendar.Website.ViewModels
@{
    var baseModel = ViewData[nameof(BaseVM)] as BaseVM;
}
@Html.Partial("_Status", baseModel)

<style>
    .modal-content {
        background-image: url('https://newevolutiondesigns.com/images/freebies/white-wallpaper-18.jpg');
    }
</style>

@if (Model.UserCalendars == null || !Model.UserCalendars.Any())
{
    <div class="alert alert-info alert-dismissible fade show">
        <h4 class="alert-heading"><i class="fa fa-info-circle"></i> No calendars added</h4>
        <p>Add at least one Calendar in <a href="/settings/">Settings</a> under Groups.</p>
    </div>
}
else
{
    <div id="currentActivity" class="alert alert-info" role="alert" style="display: none"></div>
    <div id="calender"></div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><span id="eventTitle"></span></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <button id="btnDelete" class="btn btn-danger float-right">Remove</button>
                    <button id="btnEdit" class="btn btn-primary float-right">Edit</button>
                    <p id="pDetails"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="myModalSave" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="padding: 5px;">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fas fa-calendar-check"></i> Save Event</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" style="margin-left: 10px">
                    <form class="form-horizontal">
                        <input type="hidden" id="hdEventID" value="0" />
                        <div class="wrap-input100 m-b-23">
                            <span class="label-input100">Tag</span>
                            <select id="ddTagID" class="form input100" required>
                                <option value="">-- select tag --</option>
                                @foreach (var tag in baseModel.UserTags.Tags)
                                {
                                    <option value="@tag.Id">@tag.Name</option>
                                }
                            </select>
                            <span class="focus-input100" data-symbol="&#xf188;"></span>
                        </div>

                        <div class="wrap-input100 m-b-23" id="divSplitDates" style="display:none">
                            <span class="label-input100">Split dates into multiple events?</span>
                            <select id="splitDates" class="form input100">
                                <option value="" selected>-- select times --</option>
                                @foreach (var preset in Utils.TimePresets())
                                {
                                    <option value="@preset.Key">@preset.Value</option>
                                }
                            </select>
                            <span class="focus-input100" data-symbol="&#xf331;"></span>
                        </div>
                        <div class="wrap-input100 m-b-23">
                            <span class="label-input100">Start Date</span>
                            <input type="datetime-local" step="300" id="txtStart" class="form input100" />
                            <span class="focus-input100" data-symbol="&#xf337;"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox checkbox-inline" style="display: inline; margin-right: 10px">
                                <label><input type="checkbox" id="chkIsFullDay" checked="checked" />  Full Day</label>
                            </div>
                            <div class="checkbox checkbox-inline" style="display: inline">
                                <label><input type="checkbox" id="chkTentative" checked="checked" />  Tentative</label>
                            </div>
                        </div>
                        <div class="wrap-input100 m-b-23" id="divEndDate" style="display:none">
                            <span class="label-input100">End Date</span>
                            <input type="datetime-local" step="300" id="txtEnd" class="form input100" />
                            <span class="focus-input100" data-symbol="&#xf337;"></span>
                        </div>
                        <div class="wrap-input100 m-b-23">
                            <span class="label-input100">Event Details</span>
                            <textarea id="txtDescription" rows="4" class="form input100"></textarea>
                            <span class="focus-input100" data-symbol="&#xf1f7;"></span>
                        </div>
                        @if (baseModel.User.CronofyReady == CronofyStatus.AuthenticatedRightsSet)
                        {
                            <div class="wrap-input100 m-b-23">
                                <span class="label-input100">Set alarm in minutes seperated by commas</span>
                                <input type="text" class="form input100" id="txtAlarm" />
                                <span class="focus-input100" data-symbol="&#xf32d;"></span>
                            </div>
                        }
                        <button type="button" id="btnSave" class="btn btn-success">Save</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/black-tie/jquery-ui.min.css" rel="stylesheet" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    @section Scripts{
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
        <script>
            $(document).ready(function () {
                var defaultCalendarId = '@baseModel.UserCalendars.FirstOrDefault(x => x.Defaulted).Id';

                var selectedCalendars = [defaultCalendarId]
                $("input[name='selectedCalendar[]']").click(function () {
                    selectedCalendars = [];
                    $("input[name='selectedCalendar[]']").each(function () {
                        if ($(this).is(":checked"))
                            selectedCalendars.push($(this).val());
                    });

                    FetchEventAndRenderCalendar();
                });

                var events = [];
                var activity = [];
                var selectedEvent = null;
                FetchEventAndRenderCalendar();
                function FetchEventAndRenderCalendar() {
                    events = [];
                    activity = [];
                    $("#cover-spin").show();
                    $.ajax({
                        type: "POST",
                        data: { 'calendarId': selectedCalendars },
                        url: "/Event/Get/",
                        success: function (data) {
                            $("#cover-spin").hide();
                            $.each(data.events, function (i, v) {
                                events.push({
                                    eventID: v.EventID,
                                    tagID: v.TagID,
                                    title: v.Subject != null ? v.Subject : v.Description,
                                    description: v.Description,
                                    start: moment(v.Start),
                                    end: v.End != null ? moment(v.End) : null,
                                    color: v.ThemeColor,
                                    allDay: v.IsFullDay,
                                    tentative: v.Tentative,
                                    duration: v.Duration,
                                    userId: v.UserId,
                                    eventUid: v.EventUid,
                                    alarm: v.Alarm != null
                                });
                            })
                            $.each(data.currentActivity, function (i, v) {
                                activity.push({ activity: v });
                            })
                            CurrentUserActivity(activity);
                            GenerateCalender(events);
                        },
                        error: function (error) {
                            $("#cover-spin").hide();
                            alert('failed');
                        }
                    })
                }

                function CurrentUserActivity(activity) {
                    if (!jQuery.isEmptyObject(activity)) {
                        $('#currentActivity').show();
                        $('#currentActivity').empty();
                        $.each(activity, function (i, v) {
                            $('#currentActivity').append('<div>' + v.activity + '</div>')
                        })
                    }
                    else {
                        $('#currentActivity').hide();
                        $('#currentActivity').empty();
                    }
                }

                function GenerateCalender(events) {
                    $('#calender').fullCalendar('destroy');
                    $('#calender').fullCalendar({
                        contentHeight: 500,
                        defaultDate: new Date(),
                        timeFormat: 'h(:mm)a',
                        longPressDelay: 150,
                        theme: 'jquery-ui',
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'month,basicWeek,basicDay'
                        },
                        eventLimit: true,
                        eventColor: '#378006',
                        events: events,
                        //eventRender: function (eventObj, $el) {
                        //    var end = moment(eventObj.end);
                        //    $el.popover({
                        //        title: eventObj.title + (end.isValid() ? " until " + end.format('HH:mm') : " all day"),
                        //        content: (eventObj.description == eventObj.title ? "" : eventObj.description),
                        //        trigger: 'hover',
                        //        placement: 'top',
                        //        container: 'body'
                        //    });
                        //},
                        eventClick: function (calEvent, jsEvent, view) {
                            selectedEvent = calEvent;
                            $('#myModal #eventTitle').text(calEvent.title);
                            var $description = $('<div/>');
                            $description.append($('<p/>').html('<b>Start:</b> ' + calEvent.start.format("DD-MMM-YYYY HH:mm a")));
                            if (calEvent.end != null) {
                                $description.append($('<p/>').html('<b>End:</b> ' + calEvent.end.format("DD-MMM-YYYY HH:mm a")));
                            }
                            if (calEvent.duration != "") {
                                $description.append($('<p/>').html('<b>Duration:</b> ' + calEvent.duration));
                            }
                            if (calEvent.description != null) {
                                $description.append($('<p/>').html('<b>Description:</b> ' + calEvent.description));
                            }
                            if (calEvent.tentative) {
                                $description.append($('<p/>').html('<b>Tentative:</b> Yes'));
                            }
                            if (calEvent.alarm) {
                                $description.append($('<p/>').html('<b>Reminder:</b> ' + calEvent.alarm));
                            }

                            $('#myModal #pDetails').empty().html($description);

                            $('#myModal').modal();
                        },
                        selectable: true,
                        select: function (start, end) {
                            selectedEvent = {
                                eventID: 0,
                                eventUid: '',
                                title: '',
                                description: '',
                                start: start,
                                end: end.subtract(1, "days"),
                                allDay: false,
                                tentative: false,
                                color: '',
                                userId: '',
                                alarm: ''
                            };
                            openAddEditForm();
                            $('#calendar').fullCalendar('unselect');
                        },
                        editable: true,
                        eventDrop: function (event) {
                            var data = {
                                EventID: event.eventID,
                                TagID: event.tagID,
                                Start: event.start.format('YYYY-MM-DD[T]HH:mm'),
                                End: event.end != null ? event.end.format('YYYY-MM-DD[T]HH:mm') : null,
                                Description: event.description,
                                IsFullDay: event.allDay,
                                Tentative: event.tentative,
                                Alarm: event.alarm,
                                EventUid: event.eventUid
                            };
                            SaveEvent(data);
                        }
                    })
                }

                $('#btnEdit').click(function () {
                    //Open modal dialog for edit event
                    openAddEditForm();
                })
                $('#btnDelete').click(function () {
                    if (!canEdit()) {
                        return;
                    }

                    if (selectedEvent.eventUid) {
                        alert('To delete this event it must be first deleted from third party calendar provider where it was created from.');
                        return;
                    }

                    if (selectedEvent != null && confirm('Are you sure?')) {
                        $.ajax({
                            type: "POST",
                            url: '/Event/Delete',
                            data: { 'eventID': selectedEvent.eventID },
                            success: function (data) {
                                if (data.status) {
                                    //Refresh the calender
                                    FetchEventAndRenderCalendar();
                                    $('#myModal').modal('hide');
                                }
                                else {
                                    alert(data.responseText)
                                    //window.location.reload(false);
                                }
                            },
                            error: function () {
                                alert('Failed');
                            }
                        })
                    }
                })
                $('#dtp1,#dtp2').datetimepicker({
                    format: 'YYYY-MM-DD[T]HH:mm'
                });
                $('#chkIsFullDay').change(function () {
                    if ($(this).is(':checked')) {
                        $('#divEndDate').hide();
                        $('#divSplitDates').hide();
                    }
                    else {
                        $('#divEndDate').show();
                        hideSplitDates(moment($('#txtStart').val()), moment($('#txtEnd').val()))
                    }
                });
                $('#txtEnd').change(function () {
                    hideSplitDates(moment($('#txtStart').val()), moment($('#txtEnd').val()))
                });
                $('#splitDates').change(function () {
                    var result = $('#splitDates').val().split('-');
                    var startDate = moment($('#txtStart').val(), "YYYY-MM-DD[T]HH:mm").format('YYYY-MM-DD[T]' + result[0]);
                    var endDate = moment($('#txtEnd').val(), "YYYY-MM-DD[T]HH:mm").format('YYYY-MM-DD[T]' + result[1]);

                    if ($(this).val() != '') {
                        $('#txtStart').val(startDate);
                        $('#txtEnd').val(endDate);
                    }
                });
                function hideSplitDates(startDate, endDate) {
                    var diff = endDate.diff(startDate, 'days');


                    if ($('#hdEventID').val() != 0) {
                        $('#divSplitDates').hide();
                    }
                    else if (diff > 0) {
                        $('#divSplitDates').show();
                    }
                    else {
                        $('#divSplitDates').hide();
                    }
                }

                function canEdit() {
                    var ownCalendarIds = @Html.Raw(Json.Encode(baseModel.UserCalendars.Where(x => x.UserCreatedId == baseModel.User.UserID).Select(x => x.Id).ToArray()));

                    if (selectedCalendars.length != 1) {
                        alert('You must select one of your Calendars. Deselect other calendars in the Menu.');
                        return false;
                    }
                    else {
                        if (!ownCalendarIds.some(item => item == selectedCalendars[0])) {
                            alert('You must select one Calendar in the menu that is yours.');
                            return false;
                        }
                    }
                    return true;
                }

                function openAddEditForm() {
                    if (!canEdit()) {
                        return;
                    }

                    if (selectedEvent != null) {
                        $('#hdEventID').val(selectedEvent.eventID);

                        var startDate = new Date();
                        var endDate = new Date();
                        startDate.setHours(startDate.getHours() + 1);
                        endDate.setHours(startDate.getHours() + 2);

                        var nextStartHour = startDate.getHours();
                        var nextEndHour = endDate.getHours();
                        var startTime = (selectedEvent.eventID != 0 ? "HH:mm" : (nextStartHour < 10 ? "0" + nextStartHour : nextStartHour) + ":00");
                        var endTime = (selectedEvent.eventID != 0 ? "HH:mm" : (nextEndHour < 10 ? "0" + nextEndHour : nextEndHour) + ":00");

                        $('#txtStart').val(selectedEvent.start.format('YYYY-MM-DD[T]' + startTime));
                        $('#chkIsFullDay').prop("checked", selectedEvent.allDay || false);
                        $('#chkIsFullDay').change();
                        $('#chkTentative').prop("checked", selectedEvent.tentative || false);
                        $('#chkTentative').change();
                        $('#txtEnd').val(selectedEvent.end != null ? selectedEvent.end.format('YYYY-MM-DD[T]' + endTime) : '');
                        $('#txtDescription').val(selectedEvent.description);
                        $('#ddTagID').val(selectedEvent.tagID);
                        $('#splitDates').val('');
                        $('#txtAlarm').val(selectedEvent.alarm != null && selectedEvent.alarm != "" ? selectedEvent.alarm : "30, 60");
                        hideSplitDates(moment(selectedEvent.start), moment(selectedEvent.end))
                    }
                    $('#myModal').modal('hide');
                    $('#myModalSave').modal();
                }
                $('#btnSave').click(function () {
                    //Validation/
                    if ($('#txtStart').val().trim() == "") {
                        alert('Start date required');
                        return;
                    }
                    if ($('#chkIsFullDay').is(':checked') == false && $('#txtEnd').val().trim() == "") {
                        alert('End date required');
                        return;
                    }
                    else {
                        var startDate = moment($('#txtStart').val(), "YYYY-MM-DD[T]HH:mm").toDate();
                        var endDate = moment($('#txtEnd').val(), "YYYY-MM-DD[T]HH:mm").toDate();
                        if (startDate > endDate) {
                            alert('Invalid end date');
                            return;
                        }
                    }

                    var data = {
                        EventID: $('#hdEventID').val(),
                        TagID: $('#ddTagID').val(),
                        CalendarId: selectedCalendars[0],
                        Start: $('#txtStart').val().trim(),
                        End: $('#chkIsFullDay').is(':checked') ? null : $('#txtEnd').val().trim(),
                        Description: $('#txtDescription').val(),
                        IsFullDay: $('#chkIsFullDay').is(':checked'),
                        Tentative: $('#chkTentative').is(':checked'),
                        SplitDates: $('#splitDates').val(),
                        Alarm: $('#txtAlarm').val(),
                    }
                    SaveEvent(data);
                    // call function for submit data to the server
                })
                function SaveEvent(data) {
                    $.ajax({
                        type: "POST",
                        url: '/Event/Save/',
                        data: data,
                        success: function (data) {
                            if (data.status) {
                                //Refresh the calender
                                FetchEventAndRenderCalendar();
                                $('#myModalSave').modal('hide');
                            }
                            else {
                                alert(data.responseText)
                                //window.location.reload(false);
                            }
                        },
                        error: function () {
                            alert('Failed');
                        }
                    })
                }
            })
        </script>
    }
}