@model MyCalendar.Website.ViewModels.SchedulerVM
@using MyCalendar.Website.ViewModels
@using MyCalendar.Helpers
@{
    var BaseViewModel = ViewData[nameof(BaseVM)] as BaseVM;
}

@using (Html.BeginForm("MultiAdd"))
{
    @Html.Partial("_Status", new BaseVM { UpdateStatus = Model.UpdateStatus })
    <div class="jumbotron">
        <div class="form-group">
            <label for="dates"><span class="glyphicon glyphicon-calendar"></span> How many dates?</label>
            <select id="dates" name="dates" class="form-control" onchange="selectDates(this,'@Url.Action("MultiAdd", "Home")')">
                <option value="">-- select quantity --</option>
                @for (int i = 1; i <= 10; i++)
                {
                    <option value="@i" selected="@(i == Model.Dates ? true : false)">@i Dates</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="tag"><span class="glyphicon glyphicon-tag"></span> Tag</label>
            <select id="tag" name="TagId" class="form-control" required>
                <option value="">-- select tag --</option>
                @foreach (var privacy in BaseViewModel.UserTags.Tags.GroupBy(x => x.Privacy))
                {
                    <optgroup label="@privacy.Key">
                        @foreach (var tag in BaseViewModel.UserTags.Tags.Where(x => x.Privacy == privacy.Key))
                        {
                            <option value="@tag.Id" selected="@(tag.Id == Model.TagID ? true : false)">@tag.Name</option>
                        }
                    </optgroup>
                }
            </select>
        </div>
        @if (Model.Dates > 1)
        {
            <div class="form-group">
                <label><span class="glyphicon glyphicon-time"></span> Apply same times to each date?</label>
                <br />
                From: <input type="time" name="fromTime" style="width: 107px; display: inline" class="form-control" />
                To: <input type="time" name="toTime" style="width: 107px; display: inline" class="form-control" />
            </div>
        }
        @if (Model.Dates > 0)
        {
            for (int i = 0; i < Model.Dates; i++)
            {
                <hr />
                <div class="form-group">
                    <label for="start">Start Date #@(i+1)</label>
                    <input type="datetime-local" id="start@(i)" name="StartDate[]" class="form-control" value="@(Model.StartDate != null && Model.StartDate[i] != null ? Model.StartDate[i].ToString("yyy-MM-ddTHH:mm") : Utils.DateTime().AddDays(i - 1).AddHours(1).ToString("yyy-MM-ddTHH:00"))" required />
                </div>
                <div class="form-group" id="divEndDate">
                    <label for="end">End Date #@(i+1)</label>
                    <input type="datetime-local" id="end@(i)" name="EndDate[]" class="form-control" value="@(Model.EndDate != null && Model.EndDate[i] != null ? Model.EndDate[i].Value.ToString("yyy-MM-ddTHH:mm") : Utils.DateTime().AddDays(i - 1).AddHours(3).ToString("yyy-MM-ddTHH:00"))" required />
                </div>
            }
            <hr />
            <div class="form-group">
                <label for="iCloud"><span class="glyphicon glyphicon-apple"></span> Add event@(Model.Dates > 1 ? "s" : "") to iCloud?</label>
                <input type="checkbox" name="iCloud" disabled/>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        }
    </div>
}

@section Scripts{
    <script type="text/javascript">


        $('input[name=fromTime]').change(function (e) {
            var txtVal = $(this).val();
            $.each(new Array(@Model.Dates),
                function (n) {
                    var start = $('#start' + n).val();
                    $('#start' + n).val(start.substring(0, 11) + txtVal);
                }
            );
        });

        $('input[name=toTime]').change(function (e) {
            var txtVal = $(this).val();
            $.each(new Array(@Model.Dates),
                function (n) {
                    var end = $('#end' + n).val();
                    $('#end' + n).val(end.substring(0, 11) + txtVal);
                }
            );
        });

        $.each(new Array(@Model.Dates),
            function (n) {
                $('#start' + n).change(function () {
                    var start = $(this).val();
                    var end = $('#end' + n).val();
                    var date = end.substring(0, 8) + start.substring(8, 10) + end.substring(10, 16);
                    $('#end' + n).val(date);
                });
            }
        )

        function selectDates(item, baseUrl) {
            window.location.href = baseUrl + '?dates=' + item.value;
        }
    </script>

}
