@model MyCalendar.Website.ViewModels.CalendarVM
@using MyCalendar.Enum


@using (Html.BeginForm())
{
    @Html.Partial("_Status", Model);
    <div class="jumbotron">
        <h3><span class="glyphicon glyphicon-user"> Profile</span></h3>
        <hr />
        <div class="form-group">
            @Html.LabelFor(x => x.User.Name)
            @Html.TextBoxFor(s => s.User.Name, new { @class = "form-control", @type = "text", @placeholder = "Name", @required = "required" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.User.Passcode, "Login Passcode") <font color="red"><small>(changing this will log you out)</small></font>
            @Html.TextBoxFor(s => s.User.Passcode, new { @class = "form-control", @type = "number", @placeholder = "Passcode", @required = "required" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.User.Email)
            @Html.TextBoxFor(s => s.User.Email, new { @class = "form-control", @type = "text", @placeholder = "Email" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.User.PhoneNumber)
            @Html.TextBoxFor(s => s.User.PhoneNumber, new { @class = "form-control", @type = "text", @placeholder = "Phone number" })
        </div>
        @Html.HiddenFor(x => x.User.UserID)
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
}

@Html.Partial("_Tags", Model.UserTags);

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".add-more").click(function () {
                var html = $(".copy").html();
                $(".after-add-more").after(html);
            });

            $("body").on("click", ".remove", function () {
                $(this).parents(".control-group").remove();
            });
        });
    </script>
}