@using Appology.Website.ViewModels
@using Appology.Enums

@{
    ViewBag.Title = "Authenticate";
}



<link href="~/Content/Login.css" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>



<div class="wrapper fadeInDown">

    @if (TempData["ErrorMsg"] != null && !string.IsNullOrEmpty(TempData["ErrorMsg"].ToString()))
    {
        @Html.Partial("_Status", new BaseVM { UpdateStatus = (Status.Failed, TempData["ErrorMsg"].ToString()) })
    }

    @if (TempData["InviteeId"] != null && !string.IsNullOrEmpty(TempData["inviteeId"].ToString()))
    {
        @Html.Partial("_Status", new BaseVM { UpdateStatus = (Status.Info, "To accept invitation you must login") })
    }

    <div id="formContent">

        <div id="login">
            <div class="fadeIn first" style="padding: 10px">
                <i class="fas fa-user fa-4x"></i>
            </div>

            @using (Html.BeginForm("Test", "Account", FormMethod.Post))
            {
                <input name="test" />
                <input type="submit" value="test" />
            }

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <input type="text" id="login" class="login login-form-input fadeIn second" name="email" placeholder="Enter email" required>
                <input type="password" id="password" class="login login-form-input fadeIn third" name="password" placeholder="Enter password" required>
                <input type="hidden" name="inviteeId" value="@TempData["InviteeId"]" />
                <input type="submit" class="login fadeIn fourth" value="Enter App">
            }
            </div>
        <div id="register" style="display: none">
            <div class="fadeIn first" style="padding: 10px">
                <i class="fas fa-user-plus fa-3x"></i>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <input type="text" id="name" class="login form-input fadeIn second" name="name" placeholder="Enter name" required>
                <input type="text" id="email" class="login form-input fadeIn second" name="email" placeholder="Enter login email" required>
                <input type="password" id="password" class="login form-input fadeIn third" name="password" placeholder="Enter password" required>
                <input type="password" id="password-confirm" class="login form-input fadeIn third" placeholder="Confirm password" required>
                <input type="submit" class="login fadeIn fourth" value="Signup">
            }
        </div>

        <div id="formFooter">
            <a class="underlineHover" id="login-signup">Register New Account</a>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $('#login-signup').click(function (e) {

                var text = $('#login-signup').text();
                $(this).text(text == "Register New Account" ? "Already Registered?" : "Register New Account");
                $('#register').slideToggle(500);
                $('#login').slideToggle(500);

            });

        });
    </script>
}