@using Appology.Website.ViewModels
@using Appology.Enums
@using Appology.Helpers
@model Appology.Website.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Authenticate";
}

<link href="~/Content/Login.css" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<div id="cover-spin"></div>
<div class="wrapper fadeInDown">

    @if (!string.IsNullOrEmpty(Model.ErrorMsg))
    {
        @Html.Partial("_Status", new BaseVM { UpdateStatus = (Status.Failed, Model.ErrorMsg) })
    }

    @if (Model.InviteeId.HasValue)
    {
        @Html.Partial("_Status", new BaseVM { UpdateStatus = (Status.Info, "To accept invitation you must login") })
    }

    @if (Model.DocId.HasValue)
    {
        @Html.Partial("_Status", new BaseVM { UpdateStatus = (Status.Info, "To view this document you must login") })
    }

    <div id="formContent">

        <div id="login">
            <div class="fadeIn first" style="padding: 10px">
                <i class="fas fa-user fa-4x"></i>
            </div>
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "login-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.TextBoxFor(x => x.Email, new { id = "email", @class = "login login-form-input fadeIn second", placeholder = "Enter email", @required = "required" })
                @Html.PasswordFor(x => x.Password, new { id = "password", @class = "login login-form-input fadeIn third", placeholder = "Enter password", @required = "required" })
                @Html.HiddenFor(x => x.InviteeId, new { id = "inviteeId" })
                @Html.HiddenFor(x => x.DocId, new { id = "docId" })
                <button type="submit" class="login fadeIn fourth">Enter App</button>
            }
        </div>
        <div id="register" style="display: none">
            <div class="fadeIn first" style="padding: 10px">
                <i class="fas fa-user-plus fa-3x"></i>
            </div>
            @using (Html.BeginForm("Register"))
            {
                @Html.AntiForgeryToken()
                <input type="text" id="r-name" class="login form-input fadeIn second" name="name" placeholder="Enter name" required>
                <input type="text" id="r-email" class="login form-input fadeIn second" name="email" placeholder="Enter login email" required>
                <input type="password" id="r-password" class="login form-input fadeIn third" name="password" placeholder="Enter password" required>
                <input type="password" id="r-password-confirm" class="login form-input fadeIn third" placeholder="Confirm password" required>
                <button type="button" class="login fadeIn fourth" onclick="alert('Registration currently disabled')">Signup</button>
            }
        </div>

        <div id="formFooter">
            <a class="underlineHover" id="login-signup">Register New Account</a>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $('#login-signup').click(function (e) {
                var text = $('#login-signup').text();
                $(this).text(text == "Register New Account" ? "Already Registered?" : "Register New Account");
                $('#register').slideToggle(500);
                $('#login').slideToggle(500);

            });

        });

        $('#login-form').submit(function () {
            var token = $('input[name="__RequestVerificationToken"]', $(this)).val();

            $("#cover-spin").show();
            $.ajax({
                type: "POST",
                data: {
                    __RequestVerificationToken: token,
                    email: $("#email").val(),
                    password: $("#password").val(),
                    inviteeId: $("#inviteeId").val(),
                    docId: $("#docId").val(),
                },
                url: "@Url.MvcRouteUrl(Section.LoginSubmit)",
                success: function (response) {
                    
                    $("#cover-spin").hide();
                    window.location = response.url;
                },
                error: function (result) {
                    $("#cover-spin").hide();
                    alert("Unable to login");
                }
            })
            return false;
        });
    </script>
}