@model MyCalendar.Website.ViewModels.CronofyVM

<div class="row">
    <div class="col-xs-8">
        <h2>@ViewData["calendarName"] - @Model.Event.Summary</h2>
    </div>

</div>

<dl class="dl-horizontal">
    @if (!@Model.Event.EventId.IsEmpty())
    {
        <dt>Event ID</dt>
        <dd>@Model.Event.EventId</dd>
    }

    <dt>Event UID</dt>
    <dd>@Model.Event.EventUid</dd>

    <dt>Summary</dt>
    <dd>@Model.Event.Summary</dd>

    <dt>Created</dt>
    <dd>@Model.Event.Created</dd>

    <dt>Description</dt>
    <dd>@Model.Event.Description</dd>

    <dt>Start Date</dt>
    <dd>@(Model.Event.Start.HasTime ? Model.Event.Start.DateTimeOffset.ToString() : Model.Event.Start.Date.ToString())</dd>

    <dt>End Date</dt>
    <dd>@(Model.Event.End.HasTime ? Model.Event.End.DateTimeOffset.ToString() : Model.Event.End.Date.ToString())</dd>

    @if (Model.Event.Location != null && !String.IsNullOrEmpty(Model.Event.Location.Description))
    {
        <dt>Location</dt>
        <dd>@Model.Event.Location.Description</dd>
    }

    @if (Model.Event.Location != null && Model.Event.Location.Latitude != null && Model.Event.Location.Longitude != null)
    {
        if (ViewData.ContainsKey("google_maps_embed_api_key") && !String.IsNullOrEmpty(ViewData["google_maps_embed_api_key"].ToString()))
        {
            <dt>Map location</dt>
            <dd>
                <iframe width="600"
                        height="450"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?key=@ViewData["google_maps_embed_api_key"]
      &q=@Model.Event.Location.Latitude,@Model.Event.Location.Longitude" allowfullscreen>
                </iframe>
            </dd>
        }
        else
        {
            <dt>Latitude, Longitude</dt>
            <dd>@Model.Event.Location.Latitude, @Model.Event.Location.Longitude</dd>
        }
    }

</dl>