@using Appology.Helpers
@using System.Configuration
@using Appology.Website.ViewModels
@using Appology.MiCalendar.Enums
@using Appology.Enums
@{
    var Model = ViewData[nameof(BaseVM)] as BaseVM;
    var AppName = ConfigurationManager.AppSettings["AppName"];
    var version = ConfigurationManager.AppSettings["AppVersion"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@AppName</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Loader.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/menu/navik.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/SidebarMenu.css" rel="stylesheet" type="text/css" />
    <!-- forms -->
    <link rel="stylesheet" type="text/css" href="~/Content/form/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/form/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/Content/form/fonts/iconic/css/material-design-iconic-font.min.css">
    <script src="https://kit.fontawesome.com/b963a5daf8.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

</head>
<body>
    <div class="navik-header header-shadow header-dark">
        <div class="container">
            <div class="navik-header-container">
                <div class="logo" data-mobile-logo="@Url.Content("~/Content/img/logo.png")" data-sticky-logo="@Url.Content("~/Content/img/logo.png")">
                    <a href="@Url.MvcRouteUrl(Section.Home)">
                        <img style="width:230px; height: 30px" src="~/Content/img/logo.png" alt="logo" />
                    </a>
                </div>
                @*data-trigger="focus"*@
                @if (Model != null && Model.User != null && Model.Notifications.Count > 0)
                {
                    <div class="notification-alerts">
                        <a href="#">
                            <span class="fa-stack fa-lg"
                                  data-count="@Model.Notifications.Count"
                                  tabindex="0"
                                  data-placement="bottom"
                                  data-toggle="popover"
                                  title="Notifications"
                                  data-content="@Model.Notifications.Content.Content">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fas fa-bell fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </div>
                }
                <div class="burger-menu">
                    <div class="line-menu line-half first-line"></div>
                    <div class="line-menu"></div>
                    <div class="line-menu line-half last-line"></div>
                </div>
                <nav class="navik-menu separate-line submenu-top-border submenu-scale">
                    <ul>
                        @if (Model != null && Model.User != null)
                        {
                            if (Model.AccessibleFeatures.Any(x => x.Id == Features.Calendar))
                            {
                                <li class="@(Model.MenuItem.Home || Model.MenuItem.MultiAdd || Model.MenuItem.ActivityHub || Model.MenuItem.Cronofy ? "current-menu" : "")">
                                    <a href="#">Calendar</a>
                                    <ul>
                                        <li>
                                            <a style="@(Model.MenuItem.Home ? "color:#09c" : "")" href="@Url.MvcRouteUrl(Section.Home)">
                                                <i class="fas fa-calendar">
                                                </i>  Calendar
                                            </a>
                                        </li>
                                        <li>
                                            <a style="@(Model.MenuItem.MultiAdd ? "color:#09c" : "")" href="@Url.MvcRouteUrl(Section.Scheduler)">
                                                <i class="fas fa-calendar-check"></i> Scheduler
                                            </a>
                                        </li>
                                        <li>
                                            <a style="@(Model.MenuItem.ActivityHub ? "color:#09c" : "")" href="@Url.MvcRouteUrl(Section.ActivityHub)">
                                                <i class="fas fa-chart-bar"></i> Activity Hub
                                            </a>
                                        </li>
                                        @if (Model.User.CronofyReady != CronofyStatus.Disabled)
                                        {
                                            <li>
                                                <a style="@(Model.MenuItem.Cronofy ? "color:#09c" : "")" href="@Url.MvcRouteUrl(Section.CronofyProfiles)">
                                                    <i class="fas fa-link"></i> Calendar Sync
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                            if (Model.AccessibleFeatures.Any(x => x.Id == Features.Write))
                            {
                                <li class="@(Model.MenuItem.Documents ? "current-menu" : "")">
                                    <a href="@Url.MvcRouteUrl(Section.Document)">
                                        Write
                                    </a>
                                </li>
                            }
                            if (Model.AccessibleFeatures.Any(x => x.Id == Features.ErrandRunner))
                            {
                                <li class="@(Model.MenuItem.ERNewOrder ? "current-menu" : "")">
                                    <a href="#">Errand Runner</a>
                                    <ul>
                                        <li>
                                            <a style="@(Model.MenuItem.ERNewOrder ? "color:#09c" : "")" href="@Url.MvcRouteUrl(Section.ErrandRunnerNewOrder)">
                                                <i class="fas fa-user-edit"></i> New Order
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            if (Model.AccessibleFeatures.Any(x => x.Id == Features.Finance))
                            {
                                <li class="@(Model.MenuItem.FinanceApp || Model.MenuItem.FinanceCategories | Model.MenuItem.FinanceSettings ? "current-menu" : "")">
                                    <a href="#">Finance</a>
                                    <ul>
                                        <li>
                                            <a style="@(Model.MenuItem.FinanceAppAddSpending ? "color:#09c" : "")" href="@Url.MvcRouteUrl(Section.FinanceAppAddSpending)">
                                                <i class="fas fa-plus"></i> Add Spending
                                            </a>
                                        </li>
                                        <li>
                                            <a style="@(Model.MenuItem.FinanceApp ? "color:#09c" : "")" href="@Url.MvcRouteUrl(Section.FinanceApp)">
                                                <i class="fas fa-chart-pie"></i> Finance App
                                            </a>
                                        </li>
                                        <li>
                                            <a style="@(Model.MenuItem.Monzo ? "color:#09c" : "")" href="@Url.MvcRouteUrl(Section.Monzo)">
                                                <i class="fas fa-wallet"></i> Monzo Transactions
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.MvcRouteUrl(Section.MonzoAuthenticate)">
                                                <i class="fas fa-external-link-alt"></i> Monzo Authenticate
                                            </a>
                                        </li>
                                        <li>
                                            <a style="@(Model.MenuItem.FinanceCategories ? "color:#09c" : "")" href="@Url.MvcRouteUrl(Section.FinanceCategories)">
                                                <i class="fas fa-list"></i> Categories
                                            </a>
                                        </li>
                                        <li>
                                            <a style="@(Model.MenuItem.FinanceSettings ? "color:#09c" : "")" href="@Url.MvcRouteUrl(Section.FinanceSettings)">
                                                <i class="fas fa-sliders-h"></i> Settings
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            <li class="submenu-right @(Model.MenuItem.Settings ? "current-menu" : "")">
                                <a href="#">@Model.User.Name</a>
                                <ul>
                                    <li>
                                        <a style="@(Model.MenuItem.Settings ? "color:#09c" : "")" href="@Url.MvcRouteUrl(Section.Profile)">
                                            <i class="fas fa-user-edit"></i> Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.MvcRouteUrl(Section.Logout)">
                                            <i class="fas fa-sign-out-alt"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="submenu-right">
                                <a href="@Url.MvcRouteUrl(Section.Login)">
                                    <span class="fas fa-sign-in-alt"></span>  Login / Register
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="container body-container">
        <div class="body-content" style="padding-top: 120px">
            @*<i class="fa-3x fas fa-circle-notch fa-spin"></i>*@
            
            @RenderBody()
        </div>
        <div class="container">
            <hr />
            <footer>
                <small>&copy; @DateTime.Now.Year - @AppName <a href="/home/changelog" class="float-right">v@(version)</a></small>
            </footer>
        </div>
    </div>


    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
        $("[data-toggle='popover']").popover({
            //trigger: 'focus',
            container: 'body',
            html: true
        });
    </script>

    <script src="~/Scripts/navik.menu.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>