@model MyCalendar.Website.ViewModels.DocumentVM
@using MyCalendar.Website.ViewModels
@{
    ViewBag.Title = "Documents";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/Content/froala/froala_editor.css">
<link rel="stylesheet" href="~/Content/froala/froala_style.css">
<link rel="stylesheet" href="~/Content/froala/plugins/code_view.css">
<link rel="stylesheet" href="~/Content/froala/plugins/image_manager.css">
<link rel="stylesheet" href="~/Content/froala/plugins/image.css">
<link rel="stylesheet" href="~/Content/froala/plugins/table.css">
<link rel="stylesheet" href="~/Content/froala/plugins/video.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">

<div class="card">
    <div class="card-header">
        <h3 class="fas fa-pencil-alt"> Write</h3>
    </div>
    <div class="card-body">
        <div class="treeview w-20 border" style="padding: 10px">
            <h6 class="pt-3 pl-3" style="margin-bottom: 10px"><i class="fas fa-list-alt"></i> Folders</h6>
            <hr />
            <ul class="mb-1 pl-3 pb-2" style="list-style-type: none; margin-top: -10px;">
                @helper ShowTree(IEnumerable<MyCalendar.Model.Types> types, Guid userId)
                {
                    int i = 0;
                    foreach (var userType in types.Where(x => x.UserCreatedId == userId || (x.InviteeIdsList != null && x.InviteeIdsList.Contains(userId))))
                    {
                        <li class="label @(!userType.Children.Any() ? $"item-{userType.Id}" : "expandable")" style="list-style-type: none; margin-left: 10px; margin-top: 10px;">
                            @if (!userType.Children.Any() && i != 0)
                            {
                                <hr />
                            }
                            <i class="@(!userType.Children.Any() ? "" : "fas fa-folder")"></i>
                            <span class="selectedUserTypeId" style="display: none">@userType.Id</span>
                            <span class="label label-@userType.Id" onclick="GetDoc(@userType.Id)">
                                <i class="@(userType.Children.Any() ? "" : "fas fa-angle-right")"></i> @userType.Name
                                @if (userType.UserCreatedId != userId && !string.IsNullOrEmpty(userType.InviteeName))
                                {
                                    <span class="badge badge-info text-small">shared by @userType.InviteeName</span>
                                }
                            </span>
                            <span id="add-@userType.Id" class="new float-right">
                                <i class="fas fa-pencil-alt"></i> New
                            </span>
                            <ul class="nested" style="list-style-type: none; display: none">
                                @if (userType.Children.Any(x => x.SuperTypeId.HasValue && x.SuperTypeId == userType.Id))
                                {
                                    @ShowTree(userType.Children, userId)
                                }

                            </ul>
                        </li>
                        { i++; }
                    }
                }
            </ul>
            @ShowTree(Model.UserFolders, Model.UserId)
            <br />
            <div id="docs" style="display: none">
                <table id="loaded-documents" class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Documents
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div id="load-docs" style="display: none">
                    <div class="loader"></div>
                </div>
            </div>
            <hr />
            <div id="editor" style="display: none">
                <h6 class="pt-3 pl-3" style="margin-bottom: 10px"><i class="fas fa-random"></i> Move Document</h6>
                <div id="load-folders" style="display: none">
                    <div class="loader"></div>
                </div>
                <div id="folder-selection"></div>
                <hr />
                <input type="text" id="title" name="title" value="" class="form-control" placeholder="Enter title" />
                <textarea id="edit" name="text" style="margin-top: 30px;" placeholder=""></textarea>
                <input type="hidden" name="typeId" id="typeId" value="" />
                <input type="hidden" name="Id" id="Id" value="" />
                <div class="alert alert-success" id="success-alert" style="display: none">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <strong>Document successfully saved</strong>
                </div>
                <div id="doc-saved" style="display: none">
                    <div class="loader"></div>
                </div>
                <button type="submit" onclick="InsertOrUpdateDoc()" class="btn btn-primary">Save</button>
            </div>
            <div class="card">
                <div class="card-body" id="viewer" style="display: none"></div>
                <div class="card-footer" id="doc-footer" style="display: none; font-size:smaller;color:grey;height:40px">
                    <p class="float-right"><i class="fas fa-info-circle"></i> Created by <span id="created-by" style="font-weight: bold"></span> <span id="edited-by" style="display: none;"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
    <script type="text/javascript" src="~/Scripts/froala/froala_editor.min.js"></script>
    <script type="text/javascript" src="~/Scripts/froala/plugins/align.min.js"></script>
    <script type="text/javascript" src="~/Scripts/froala/plugins/code_beautifier.min.js"></script>
    <script type="text/javascript" src="~/Scripts/froala/plugins/code_view.min.js"></script>
    <script type="text/javascript" src="~/Scripts/froala/plugins/draggable.min.js"></script>
    <script type="text/javascript" src="~/Scripts/froala/plugins/image.min.js"></script>
    <script type="text/javascript" src="~/Scripts/froala/plugins/image_manager.min.js"></script>
    <script type="text/javascript" src="~/Scripts/froala/plugins/link.min.js"></script>
    <script type="text/javascript" src="~/Scripts/froala/plugins/lists.min.js"></script>
    <script type="text/javascript" src="~/Scripts/froala/plugins/paragraph_format.min.js"></script>
    <script type="text/javascript" src="~/Scripts/froala/plugins/paragraph_style.min.js"></script>
    <script type="text/javascript" src="~/Scripts/froala/plugins/table.min.js"></script>
    <script type="text/javascript" src="~/Scripts/froala/plugins/video.min.js"></script>
    <script type="text/javascript" src="~/Scripts/froala/plugins/url.min.js"></script>
    <script type="text/javascript" src="~/Scripts/froala/plugins/entities.min.js"></script>
    <script>
        (function () {
            const editorInstance = new FroalaEditor('#edit', {
                enter: FroalaEditor.ENTER_P,
                placeholderText: null,
                events: {
                    initialized: function () {
                        const editor = this
                        this.el.closest('form').addEventListener('submit', function (e) {
                            console.log(editor.$oel.val())
                            e.preventDefault()
                        })
                    }
                },
                key: "AV:4~?3xROKLJKYHROLDXDR@d2YYGR_Bc1A8@5@4:1B2D2F2F1?1?2A3@1C1",
                attribution: false
            })
        })()


        function GetDoc(id) {
            $('#docs').show(500);
            $('.new').removeClass('active');
            $('.item-' + id).addClass('active');
            $('.label').removeClass('active');
            $('.label-' + id).addClass('active');
            $("#load-docs").show();
            $('#editor').hide(500);
            $.ajax({
                url: "/Document/Get/",
                type: "GET",
                data: { typeId: id },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $("#load-docs").hide();
                    $("#loaded-documents > tbody").html("");
                    var trHTML = '';
                    if (response.length == 0) {
                        trHTML += '<tr><td><i class="fas fa-file"></i> No documents found</td></tr>';
                    } else {
                        $.each(response, function (i, item) {
                            trHTML += '<tr><td><span id="created-by-' + item.Id + '" style="display: none">' + item.UserCreatedName + '</span><span id="edited-by-' + item.Id + '" style="display: none">' + item.EditedByName + '</span><span class="document-content-' + item.Id + '" style="display: none">' + item.Text + '</span><span class="load-doc selected-load-doc-' + item.Id + '" onclick="loadDocument(\'' + item.Id + '\')"><i class="fas fa-file"></i> ' + item.Title + '</span><span class="float-right edit-doc selected-edit-doc-' + item.Id + '" onclick="editDocument(\'' + item.Id + '\',\'' + item.TypeId + '\', \'' + item.Title + '\')"><i class="fas fa-edit"></i> Edit</span></td></tr>';
                        });
                    }

                    $('#loaded-documents').append(trHTML);
                },
                error: function (result) {
                    alert("Error: " + result.status);
                }
            });
        }


        function InsertOrUpdateDoc() {
            var data = {
                TypeId: $('#typeId').val(),
                Title: $('#title').val(),
                Text: $("#edit").val(),
                Id: $("#Id").val()
            };
            $('#doc-saved').show();

            $.ajax({
                url: "/Document/InsertOrUpdate/",
                type: "POST",
                data: data,
                success: function (data) {
                    if (data.status) {
                        $('#doc-saved').hide();
                        $("#success-alert").fadeTo(1000, 500).slideUp(500, function () {
                            $('#editor').hide(500);
                            GetDoc($('#typeId').val());
                            $("#success-alert").slideUp(500);
                        });
                    }
                    else {
                        $('#doc-saved').hide();
                        alert("Failed" + data.responseText)
                        //window.location.reload(false);
                    }
                },
                error: function (result) {
                    $('#doc-saved').hide();
                    alert('Failed' + result);
                }
            });
        }

        function loadDocument(id) {

            $('#viewer').show(500);
            $('#editor').hide(500);
            $('.load-doc').removeClass('active');
            $('.edit-doc').removeClass('active');
            $('.selected-load-doc-' + id).addClass('active');

            //footer
            $('#doc-footer').show();
            $('#created-by').text($('#created-by-' + id).text());

            if ($('#edited-by-' + id).text() != '') {
                $('#edited-by').show();
                $('#edited-by').html('Last edited by <strong>' + $('#edited-by-' + id).text() + '</strong>');
            }

            $('#viewer').html($('.document-content-' + id).html());
        }

        function LoadFolders(id, title) {
            $('#folder-selection').html('');
            $('#load-folders').show();
            $.ajax({
                url: '@Url.Action("FolderSelection")',
                type: 'GET',
                data: { Id: id, name: title },
                success: function (response) {
                    $('#load-folders').hide();
                    $('#folder-selection').html(response);
                },
                error: function (result) {
                    alert("Error: " + result.status);
                }
            });
        }

        function editDocument(id, typeId, title) {

            this.LoadFolders(id, title);         

            $('#Id').val(id);
            $('#typeId').val(typeId);
            $('#title').val(title);
            $('#edit').val($('.document-content-' + id).html());
            $('.load-doc').removeClass('active');
            $('.edit-doc').removeClass('active');
            $('.selected-edit-doc-' + id).addClass('active');

            var editor = new FroalaEditor('#edit');
            editor.html.set($('.document-content-' + id).html());

            $('#editor').show(500);
            $('#viewer').hide(500);
            $('#doc-footer').hide(500);
        }

        function myFunction() {
            /* Get the text field */
            var copyText = document.getElementById("inviteeShareLink");

            /* Select the text field */
            copyText.select();
            copyText.setSelectionRange(0, 99999); /*For mobile devices*/

            /* Copy the text inside the text field */
            document.execCommand("copy");

            /* Alert the copied text */
            alert("Share link copied");
            //alert("Copied the text: " + copyText.value);
        }
        $(document).ready(function () {
            /* types */
            $('li.expandable').click(function (e) {
                e.preventDefault();
                $(this).children('ul').toggle(500);
                $(this).children('i').toggleClass('fa-folder-open fa-folder');
                $('#viewer').hide(500);
                $('#doc-footer').hide(500);
                $('#editor').hide(500);
                return false;
            });

            $('.selectedUserTypeId').each(function (i, obj) {
                var selectedUserTypeId = $(this).text();
                $('.item-' + selectedUserTypeId).click(function (e) {
                    e.stopPropagation();
                });

                $('#add-' + selectedUserTypeId).click(function (e) {
                    e.stopPropagation();

                    $('.new').removeClass('active');
                    $('.label').removeClass('active');
                    $(this).toggleClass('active');

                    $('#title').val('');
                    $('#Id').val('');

                    var editor = new FroalaEditor('#edit');
                    editor.html.set('');
                    $('#typeId').val(selectedUserTypeId);
                    $('#editor').show(500);
                    $('#viewer').hide(500);
                    $('#doc-footer').hide(500);
                    $('#docs').hide(500);
                });

                $('#move-' + selectedUserTypeId).click(function (e) {
                    e.stopPropagation();
                    $('.move-' + selectedUserTypeId).show(500);
                });
            });
        });
    </script>
}
